

version: "3.3"

services:
  mc-backend:
    build: .
    image: ${IMAGE_NAME}
    container_name: ${CONTAINER_NAME}
    ports:
      - 4443:4443
    volumes:
      - ${PWD}/.backendenv:/app/.env
      - ${PWD}/jwt:/app/classes/auth/jwt
      - ${PWD}/cert_mainchain_db:/app/classes/cert_mainchain_db
      - ${PWD}/mongo_certificates:/app/classes/mongo_certificates
      - ${PWD}/es_ca.crt:/app/classes/elasticSearch/elastic_certs/es_ca.crt
    networks:
      mainchain:
        ipv4_address: ${CONTAINER_IP_ADDRESS}

networks:
  mainchain:
    external: true
